/gradlew    text eol=lf
*.bat       text eol=crlf

paper-api/src/main/java/**  linguist-vendored
src/main/paperJava/**       linguist-vendored
src/main/paperResources/**  linguist-vendored
src/porting/**              linguist-vendored
